@mixin nijmegen-pagination-link {
  align-items: center;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  text-decoration: none;
}

@mixin nijmegen-pagination-link-chevron {
  background-color: currentColor;
  content: "";
  /* stylelint-disable-next-line property-disallowed-list */
  height: var(--nijmegen-pagination-relative-link-icon-size, 1.5rem);
  mask-image: var(
    --nijmegen-pagination-relative-icon,
    url('data:image/svg+xml,<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-right"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M13 18l6 -6" /><path d="M13 6l6 6" /></svg>')
  );
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: 100%;
  /* stylelint-disable-next-line property-disallowed-list */
  width: var(--nijmegen-pagination-relative-link-icon-size, 1.5rem);
}

@mixin invisible-but-accessible {
  block-size: 1px !important;

  /* Source: https://kittygiraudel.com/snippets/sr-only-class/ */
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  inline-size: 1px !important;
  /* stylelint-disable-next-line property-disallowed-list */
  margin: -1px !important;
  overflow: hidden !important;
  /* stylelint-disable-next-line property-disallowed-list */
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
}
