.nijmegen-description-list {
  color: var(--denhaag-description-list-color);
  display: block;
  font-family: var(--denhaag-description-list-font-family);
  font-size: var(--denhaag-description-list-font-size);
  font-weight: var(--denhaag-description-list-font-weight);
  line-height: var(--denhaag-description-list-line-height);
  margin-block-end: var(--denhaag-description-list-margin-block-end);
  margin-block-start: var(--denhaag-description-list-margin-block-start);
  overflow-wrap: var(--denhaag-description-list-overflow-wrap, break-word);
}

@container description-list (width >= 480px) {
  .nijmegen-description-list {
    --denhaag-description-list-detail-padding-block-end: var(--denhaag-description-list-lg-detail-padding-block-end);
    --denhaag-description-list-detail-padding-block-start: var(
      --denhaag-description-list-lg-detail-padding-block-start
    );
    --denhaag-description-list-title-padding-block-end: var(--denhaag-description-list-lg-title-padding-block-end);
    --denhaag-description-list-title-padding-block-start: var(--denhaag-description-list-lg-title-padding-block-start);
    --denhaag-description-list-padding-inline-end: var(--denhaag-description-list-lg-padding-inline-end);
    --denhaag-description-list-padding-inline-start: var(--denhaag-description-list-lg-padding-inline-start);

    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    grid-template-columns: var(--denhaag-description-list-item-first-column-width, 240px) 1fr auto;
  }
}

.nijmegen-description-list-container {
  container-name: description-list;
  container-type: inline-size;
}

.nijmegen-description-list__title {
  color: var(--denhaag-description-list-title-color);
  font-weight: var(--denhaag-description-list-title-font-weight, bold);
  padding-block-end: var(--denhaag-description-list-title-padding-block-end, var(--denhaag-description-list-padding));
  padding-block-start: var(
    --denhaag-description-list-title-padding-block-start,
    var(--denhaag-description-list-padding)
  );
  padding-inline-end: var(--denhaag-description-list-padding-inline-end, var(--denhaag-description-list-padding));
  padding-inline-start: var(--denhaag-description-list-padding-inline-start, var(--denhaag-description-list-padding));

  @container description-list (width >= 480px) {
    border: 0 solid var(--denhaag-description-list-border-color, lightgrey);
    border-block-end-width: 1px;
    grid-column: 1;
  }
}

.nijmegen-description-list__caption {
  color: var(--denhaag-description-list-caption-color);
  font-family: var(--denhaag-description-list-caption-font-family, var(--denhaag-description-list-font-family));
  font-size: var(
    --denhaag-description-list-caption-font-size,
    calc(var(--denhaag-description-list-font-size, 1em) * 1.33)
  );
  font-weight: var(--denhaag-description-list-caption-font-weight, --denhaag-typography-weight-bold);
  line-height: var(--denhaag-description-list-caption-line-height, var(--denhaag-description-list-line-height));
  margin-block-end: var(--denhaag-description-list-caption-margin-block-end, 1em);
  margin-block-start: 0;
}

.nijmegen-description-list__detail {
  margin-inline-start: 0;
  padding-block-end: var(--denhaag-description-list-detail-padding-block-end, var(--denhaag-description-list-padding));
  padding-block-start: var(
    --denhaag-description-list-detail-padding-block-start,
    var(--denhaag-description-list-padding)
  );
  padding-inline-end: var(--denhaag-description-list-padding-inline-end, var(--denhaag-description-list-padding));
  padding-inline-start: var(--denhaag-description-list-padding-inline-end, var(--denhaag-description-list-padding));
}

@container description-list (width >= 480px) {
  // By default: grid column 2 and 3
  .nijmegen-description-list__detail {
    border: 0 solid var(--denhaag-description-list-border-color, lightgrey);
    border-block-end-width: 1px;
    grid-column: 2 / 4;
  }

  // When action: grid column 2 for first detail, and column 3 for second detail
  .nijmegen-description-list__title:has(+ .nijmegen-description-list__detail + .nijmegen-description-list__detail)
    + .nijmegen-description-list__detail {
    grid-column: 2;
  }

  .nijmegen-description-list__title:has(+ .nijmegen-description-list__detail + .nijmegen-description-list__detail)
    + .nijmegen-description-list__detail
    + .nijmegen-description-list__detail {
    grid-column: 3;
  }
}

.nijmegen-description-list-item {
  border: 0 solid var(--denhaag-description-list-border-color, lightgrey);
  border-block-end-width: 1px;
  display: block;
}

@container description-list (width >= 480px) {
  .nijmegen-description-list-item {
    border: none;
    display: contents;
  }
}
