@use "sass:map";

// Breakpoints used in by media queries in grid and container
$nijmegen-breakpoint-xs: 0 !default;
$nijmegen-breakpoint-sm: 576px !default;
$nijmegen-breakpoint-md: 768px !default;
$nijmegen-breakpoint-lg: 992px !default;
$nijmegen-breakpoint-xl: 1200px !default;
$nijmegen-breakpoint-xxl: 1400px !default;

// Max widths used by media queries in container
$nijmegen-container-max-width-sm: 540px !default;
$nijmegen-container-max-width-md: 720px !default;
$nijmegen-container-max-width-lg: 960px !default;
$nijmegen-container-max-width-xl: 1140px !default;
$nijmegen-container-max-width-xxl: 1320px !default;

// spacing
$nijmegen-enable-important-utilities-on-spacing: true !default;
$nijmegen-space: (
  0: var(--nijmegen-space-0, 0),
  12: var(--nijmegen-space-12, 0.125rem),
  25: var(--nijmegen-space-25, 0.25rem),
  50: var(--nijmegen-space-50, 0.5rem),
  75: var(--nijmegen-space-75, 0.75rem),
  100: var(--nijmegen-space-100, 1rem),
  125: var(--nijmegen-space-125, 1.25rem),
  150: var(--nijmegen-space-150, 1.5rem),
  200: var(--nijmegen-space-200, 2rem),
  250: var(--nijmegen-space-250, 2.5rem),
  300: var(--nijmegen-space-300, 3rem),
  400: var(--nijmegen-space-400, 4rem),
  500: var(--nijmegen-space-500, 5rem),
  600: var(--nijmegen-space-600, 6rem),
) !default;

// deprecated
$nijmegen-inline-spacers: (
  3xs: var(--nijmegen-space-inline-3xs, 0.125rem),
  2xs: var(--nijmegen-space-inline-2xs, 0.25rem),
  xs: var(--nijmegen-space-inline-xs, 0.5rem),
  sm: var(--nijmegen-space-inline-sm, 0.75rem),
  md: var(--nijmegen-space-inline-md, 1rem),
  lg: var(--nijmegen-space-inline-lg, 1.25rem),
  xl: var(--nijmegen-space-inline-xl, 1.5rem),
  2xl: var(--nijmegen-space-inline-2xl, 2rem),
  3xl: var(--nijmegen-space-inline-3xl, 2.5rem),
  4xl: var(--nijmegen-space-inline-4xl, 3rem),
  5xl: var(--nijmegen-space-inline-5xl, 4rem),
) !default;
$nijmegen-block-spacers: (
  3xs: var(--nijmegen-space-block-3xs, 0.125rem),
  2xs: var(--nijmegen-space-block-2xs, 0.25rem),
  xs: var(--nijmegen-space-block-xs, 0.5rem),
  sm: var(--nijmegen-space-block-sm, 0.75rem),
  md: var(--nijmegen-space-block-md, 1rem),
  lg: var(--nijmegen-space-block-lg, 1.25rem),
  xl: var(--nijmegen-space-block-xl, 1.5rem),
  2xl: var(--nijmegen-space-block-2xl, 2rem),
  3xl: var(--nijmegen-space-block-3xl, 2.5rem),
  4xl: var(--nijmegen-space-block-4xl, 3rem),
  5xl: var(--nijmegen-space-block-5xl, 4rem),
) !default;

// container
$nijmegen-container-padding-inline-start: var(
  --nijmegen-container-padding-inline-start,
  map.get($nijmegen-inline-spacers, "sm")
) !default;
$nijmegen-container-padding-inline-end: var(
  --nijmegen-container-padding-inline-end,
  map.get($nijmegen-inline-spacers, "sm")
) !default;

// grid
$nijmegen-grid-columns: 12 !default;
$nijmegen-grid-gap: var(--nijmegen-grid-gap, 1.5rem) !default;
$nijmegen-grid-rows: var(--nijmegen-grid-rows, 1) !default;
