@import "~@utrecht/focus-ring-css/src/mixin";

.nijmegen-task-navigation {
  background-color: var(--denhaag-action-background-color);
  border-bottom-style: var(--denhaag-action-border-style); /* stylelint-disable-line property-disallowed-list */
  border-bottom-width: var(--denhaag-action-border-width); /* stylelint-disable-line property-disallowed-list */
  border-color: var(--denhaag-action-border-color);
  border-radius: var(--denhaag-action-border-radius);
  color: var(--denhaag-action-color);
  display: flex;
  flex-direction: column;
  font-family: var(--denhaag-action-font-familiy);
  gap: var(--denhaag-action-gap);
  justify-content: space-between;
  padding-block-end: var(--denhaag-action-single-padding-block-end);
  padding-block-start: var(--denhaag-action-single-padding-block-start);
  padding-inline-end: var(--denhaag-action-single-padding-inline-end);
  padding-inline-start: var(--denhaag-action-single-padding-inline-start);
  text-decoration: none;

  @media (width >= 768px) {
    align-items: center;
    flex-direction: row;
    gap: var(--denhaag-action-lg-gap);
  }

  @media (width < 768px) {
    .utrecht-button {
      max-inline-size: 100%;
      width: 100%; /* stylelint-disable-line property-disallowed-list */
    }
  }

  &__content {
    flex-grow: 1;

    b,
    strong {
      font-weight: var(--denhaag-action-content-bold-font-weight);
    }
  }

  &__context {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    gap: var(--denhaag-action-context-gap, 0.5rem);

    // @media (width >= 768px) {
    //   align-items: center;
    //   flex-direction: row;
    //   gap: var(--denhaag-action-context-lg-gap, 1rem);
    // }
  }

  &__details {
    display: flex;
    flex: 1 0 auto;
    gap: var(--denhaag-action-single-details-gap);

    @media (width >= 768px) {
      gap: var(--denhaag-action-single-details-lg-gap);
    }
  }

  &__date {
    align-items: center;
    color: var(--denhaag-action-date-color);
    display: flex;
    font-weight: var(--denhaag-action-date-font-weight);
    gap: var(--denhaag-action-date-gap);

    &--warning {
      align-items: center;
      color: var(--denhaag-action-date-warning-color);
      display: flex;
      font-weight: var(--denhaag-action-date-warning-font-weight);
      gap: var(--denhaag-action-date-warning-gap);
    }
  }

  &__actions {
    align-items: center;
    display: flex;
    gap: var(--denhaag-action-actions-gap);

    svg {
      fill: var(--denhaag-action-single-link-color, #157c68);
      stroke: var(--denhaag-action-single-link-color, #157c68);
    }
  }

  &__link-icon {
    color: var(--denhaag-action-link-icon-color);
    flex-shrink: 0;
    width: var(--denhaag-action-link-icon-width); /* stylelint-disable-line property-disallowed-list */
  }

  &__warning-icon {
    color: var(--denhaag-action-warning-icon-color);
    flex-shrink: 0;
    width: var(--denhaag-action-warning-icon-width); /* stylelint-disable-line property-disallowed-list */
  }
}

.nijmegen-task-navigation--hover,
.nijmegen-task-navigation:hover {
  background-color: var(--denhaag-action-single-hover-background-color);
}

.nijmegen-task-navigation--focus-visible,
.nijmegen-task-navigation:focus-visible {
  @include utrecht-focus-ring;
}
